<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3 style="padding-top: 10%;">Confirm Transaction</h3>
        <form>
            <div class="form-group" style="padding-top: 4%;">
                <input type="text" name="input" class="form-control input-lg text-center" placeholder="Enter Transaction Hash.." ng-model="vm.Tx" required>
            </div>
            <div style="padding-top: 2%;">
                <button type="button" ng-disabled="!vm.Tx" class="btn btn-primary btn-lg" ng-click="vm.getTxConfirmation()">Confirm!</button>
            </div>
        </form>
        <div>
            <div ng-show="vm.resultOK">
            <h3> Transaction confirmed </h3>
            </div>
            <div ng-show="vm.resultKO">
                <h3>Transaction is not confirmed</h3>
            </div>
        </div>
    </div>
</div>